# Bytecode / Caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Envs
.venv/
venv/
env/
ENV/

# Tool-Caches
.pytest_cache/
.mypy_cache/
.pytype/

# Editors/IDE
.vscode/
.idea/
*.code-workspace

# Packaging / Build
build/
dist/
*.egg-info/

# Local config
.env
*.crt
*.pem
